# "/home/gleb/deep_pipe/config_examples"

# from "/home/gleb/deep_pipe/config_examples" import (
# 	"assets/data_source/cobrain/brats.coreg.config"
# 	"assets/dataset/brats.coreg.config",
#   "brats.base.config",
#   "assets/batch_iter/patch_3d.config"
# 	"assets/model/deepmedic_els.config"
# 	"assets/problem/segm.tf.config"
# )
from "/nmnt/media/home/gleb/deep_pipe/config_examples" import (
	"assets/data_source/iitp/brats.config"
	"assets/dataset/brats.config",
    "brats.base.config",
    "assets/batch_iter/patch_3d.config"
	"assets/model/deepmedic_els.config"
	"assets/problem/segm.tf.config"
)

from dpipe.split.cv_111 import cv_111_truncated
from dpipe.tf.model import TFModel


n_epochs = 2
batch_size = 24

split = cv_111_truncated(
    n_splits = 5,
    val_size = 6,
    dataset = dataset,
    experiments_num=1
)

model = TFModel(
    model_core = model_core,
    logits2pred = logits2pred,
    logits2loss = logits2loss,
    optimize = optimize,
    # transfer_model_path = "/home/gleb/exp/oasis/20/experiment_0/model"
)

makefile = "train_segm_eval_light"
