from "/nmnt/media/home/gleb/deep_pipe/config_examples" import (
    "assets/data_source/iitp/oasis.config",
    "assets/dataset/oasis.config",
    "brats.base.config",
    "assets/batch_iter/patch_3d.config"
	"assets/model/deepmedic_els.config"
	"assets/problem/segm.tf.config"
)

from dpipe.split.cv_111 import cv_111_truncated

split = cv_111_truncated(
    n_splits=5,
    val_size=5,
    dataset=dataset,
    experiments_num=2
)

n_epochs = 2
batch_size = 24