import "shared.config"

from "/home/gleb/deep_pipe/config_examples" import (
    "assets/data_source/cobrain/oasis.config",
    "assets/dataset/oasis.config",
    "brats.base.config",
    "assets/batch_iter/patch_3d.config"
	"assets/model/deepmedic_els.config"
	"assets/problem/segm.tf.config"
)

from dpipe.split.cv_111 import cv_111_truncated
from dpipe.tf.model import TFModel
from dpipe.model_core.deepmedic_els import DeepMedicEls

n_epochs = 60
batch_size = 24

model = TFModel(
    model_core = model_core,
    logits2pred = logits2pred,
    logits2loss = logits2loss,
    optimize = optimize
)

split = cv_111_truncated(
    n_splits=5,
    val_size=5,
    dataset=dataset,
    experiments_num=2
)

model_core = DeepMedicEls(
    with_dropout = True,
    dropout_rate = 0.5,
    downsampling_type = "sampling",
    n_chans_in = n_chans_in,
    n_chans_out = n_chans_out
)
