from "/nmnt/media/home/gleb/deep_pipe/config_examples" import (
    "assets/data_source/iitp/oasis.config",
    "assets/dataset/oasis.config",
    "brats.base.config",
    "assets/batch_iter/patch_3d.config"
	"assets/model/deepmedic_els.config"
	"assets/problem/segm.tf.config"
)

n_epochs = 2
batch_size = 24