import dpipe.transformers as tranform
from dpipe.commands import gleb_metrics_segm as gleb_metrics_segm_fn
from dpipe.commands import gleb_metrics_msegm as gleb_metrics_msegm_fn
from dpipe.tf.model import TFModel

makefile = "train_segm_eval_light"

compute_dices = commands.compute_dices(
    load_msegm=dataset.load_msegm,
    predictions_path=console.predictions_path,
    dices_path=console.dices_path
)

model_for_predictions = TFModel(
    model_core=model_core,
    logits2pred=logits2pred,
    logits2loss=logits2loss,
    optimize=optimize
)

gleb_metrics_segm = gleb_metrics_segm_fn(
    ids=ids,
    dataset=dataset,
    dices_path=console.dices_path,
    losses_path=console.losses_path,
    model=model_for_predictions,
    restore_model_path=console.restore_model_path,
    batch_predict=batch_predict,
    print_stats=True
)

gleb_metrics_msegm =  gleb_metrics_msegm_fn(
    ids=ids,
    dataset=dataset,
    dices_path=console.dices_path,
    losses_path=console.losses_path,
    model=model_for_predictions,
    restore_model_path=console.restore_model_path,
    batch_predict=batch_predict,
    print_stats=True
)
